<!-- templates/registration/password-reset-done.html -->
{% extends '_base.html' %}


{% block title %}Password Reset Confirmed{% endblock title %}


{% block content %}
  <div class="login-form-box">
    <h1>Password Reset Confirmed</h1>
    <p><br>We’ve emailed you instructions for resetting your password, if an account exists with the email you entered. You should receive the instructions shortly.<br>
    <br>
    <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
    <br>
    <p>I can't stress that enough - it's probably in your spam folder.</p>
  <a href="{% url 'home' %}" class="centered-link">Home</a>
{% endblock content %}