<!-- templates/registration/password-reset.html -->
{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Reset{% endblock title %}


{% block content %}
  <div class="login-form-box">
    <h1>Password Reset</h1>
    <p>Please enter your email in the box below.</p> 
    <p>If the account exists, we'll send an email to reset your password.</p>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <br><button type="submit">Submit</button>
    </form>
  </div>
{% endblock content %}