/* static/css/base.css */

* {
  font-family: "Arial Black", Helvetica, sans-serif;
}

h1 {
  color: #00BFFF;
  text-align: center;
  font-size: 10vmin;
  margin: 0.5em;
}

p, label {
  color: #2F4F4F;
  text-align: center;
  font-size: 4vmin;
  margin: 0px 5% 0.5em;
}

a, a:visited {
  color: #00BFFF;
  text-decoration-line: none;
}

button, input[type="button"] {
  color: #2F4F4F;
  margin: 2em auto;
  display: block;
  border: 0.3em solid #00BFFF;
  border-radius: 0.3em;
  padding: 1em;
  font-size: 3vmin;
}

.da_boys {
  height: 50vmin;
  width: auto;
  display: block;
  margin: 1em auto 3em auto;
  border: 2px solid #00BFFF;
  border-radius: 3em;
}

.linksbox ul {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.linksbox li {
  display: inline-block; 
  float: none;
  text-align: center;
  list-style: none;
  font-size: 1em;
}

.text-muted {
  color: #1E90FF;
}

a:hover, input[type="button"]:hover, button:hover {
  color: #FF69B4;
}

.main-content-container {
  color: #2F4F4F;
  align-self: center;
  align-items: center;
  align-content: center;
}

.centered-link {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 1.5em;
  margin-top: 1em;
  text-decoration-line: underline;
}

@media screen and (min-width: 1300px){
  h1 {
    font-size: 5em;
  }
  
  p, label {
    font-size: 1.5em;
  }
  
  .da_boys {
    height: 20em;
  }
  
  button, input[type="button"] {
    font-size: 1.5em;
  }
}