<!-- templates/home.html -->
{% extends '_base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}


{% block content %}
  <h1>Homepage</h1>
  <img class="da_boys" src="{% static 'images/dfsndfs.png' %}">
  {% if user.is_authenticated %}
    <p>Hi {{ user.first_name }}!</p>
    <p>Check out the <a href="{% url 'galleries' %}">pictures</a>.</p>
    <p><a href="{% url 'logout' %}"><input type=button value='Log Out'></a></p>
  {% else %}
    <p>You are not logged in</p>
    <div class="linksbox">
      <ul>
        <li><a href="{% url 'login' %}"><input type=button value='Log In'></a></li>
        <li><a href="{% url 'signup' %}"><input type=button value='Sign Up'></a></li>
      </ul>
      <a href="{% url 'password_reset' %}" class="centered-link">Forgot your password?</a>
    </div>
  {% endif %}
  
{% endblock content %}